
.header{
    background-color: rgb(245, 245, 161);
    color: rgb(1, 106, 1);
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    /* This centers your card horizontally */
  max-width: 450px; /* Stops it from being too wide */
  margin: 50px auto; /* The "auto" magic centers it horizontally */

  /* This makes it look like a modern 'Traveler' card */
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);/*Add a subtle shadow */
  text-align: center;
  
  display: flex;
  /* flex-direction: column; Keeps items stacked vertically for now */
  flex-direction: row;/* The Horizontal Direction */
  align-items: center; /* Ensures everything inside is perfectly centered */
  gap: 20px; /* Adds a small, clean space between your title and amount */
  justify-content:space-between; /* Horizontal Spacing*/
}

/* This targets the card only when the mouse is over it */
.header:hover {
  background-color: #fff9c4; /* A slightly lighter yellow */
  transform: translateY(-5px); /* translateY Makes the card "pop" up slightly */
  transition: 0.3s; /* Makes the movement smooth, not jumpy */
  cursor: pointer; /* Changes the mouse to a hand icon */
}

/* This stacks RM and Won vertically */
.currency-display {
  display: flex;
  flex-direction: column; /* Stacks RM and Won vertically */
  align-items: flex-end; /* This pushes the text to the right edge */
  gap: 4px;              /* Adds a tiny clean space between the lines */
}

.input-section {
  display: flex;
  flex-direction: row; /* Keep them in a line */
  justify-content: center; /* Center the whole section */
  align-items: center; /* Align them vertically */
  gap: 15px; /* Give them breathing room */
  margin-top: 30px; /* Push it away from the header */
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn {
  padding: 8px 15px;
  background-color: #2e7d32; /* A matching green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}