
.header{
    background-color: rgb(245, 245, 161);
    color: rgb(1, 106, 1);
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

